<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>FlashCards</title>
</head>

<body>
  {{> welcome}}
</body>

<template name="welcome">

  <ul class="stack button-group">
    <li><a href="#" class="button">1</a></li>
    <li><a href="#" class="button">2</a></li>
    <li><a href="#" class="button">3</a></li>
    <li><a href="#" class="button">4</a></li>
    <li><a href="#" class="button">5</a></li>
  </ul>

  <button class="button" type="button">Click Me</button>
  <p>You've pressed the button {{counter}} times.</p>
</template>